[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "~=3.6"
aiohttp-validate = "~=1.1"
aiohttp-swagger = "~=1.0"

[dev-packages]
"flake8" = "*"

[requires]
python_version = "3.7"

[scripts]
dices = "python dices.py"
rectangles = "python rectangles.py"
rect_test = "python -m unittest rectangles"
currency = "python currency.py"
